:root{
  --blueColor: #1e90ff;
  --colorHover:  #0f4e8d;
  --whiteColor: #ffffff;
  --expenseColor: rgb(230, 91, 91);
  --incomeColor: rgb(84, 197, 84);
  --walletColor:rgb(156, 155, 75);
  --savingsColor:rgb(236, 233, 40);
  --spacing: 4px;
  
}

* {
  box-sizing: border-box;
  }
  
  *:focus {
      outline: none;
  }
  
  
  .btn_edit, .btn_delete{
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 15px;
    padding: 2px 0;
    margin: 2px 3px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 60px;  
  }

  .btn_edit:hover, .btn_delete:hover {
    background-color:var(--colorHover);
    cursor: pointer;
  }

  

.amount{
  background-color: var(--blueColor);
  color: var(--whiteColor); 
  border-radius: 20px;
  margin: var(--spacing);
  padding: var(--spacing);
}
   
  
  .transparentBcg {
    visibility: visible;
  }

  
  #singleMoney{
    background-color:white;
    padding:20px;
    color:#36a9c0;
    align-items: center;
  }



  @media screen and (min-width: 768px) {
 


  }
  
  